body{
    font-family: 'Inter', sans-serif;
}
.contact{
    height: 61px;
    background-color: #FFFFFF;
    position: relative;
}
.address{
width: 240px;
height: 34px;
color: #111111;
display: inline-block;
position: relative;
margin-right: 41.67px;
}
.address-txt1{
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    top: -5px;
    left: 30px;
}
.address-txt2{
    font-size: 12px;
    font-weight: 300;
    position: absolute;
    top: 14px;
    left: 30px;
}

.mail{
    display: inline-block;
    position: relative;
}
.mail-txt1{
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    color: #111111;
    text-decoration: none;
    top: -5px;
    left: 30px;
}
.mail-txt2{
font-size: 12px;
font-weight: 300;
position: absolute;
width: 150px;
left: 30px;
top: 14px;
}

.nav-list-wrapper{
    display: flex;
    justify-content: end;
    position: absolute;
    right: 15px;
}

nav .nav-list{
    display: flex;
    justify-content: end;
    list-style-type: none;
}

nav{
    display: inline-block;
    margin: 20px 0;
}

.nav-list-link{
    color: #3F4E65;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
}

nav .nav-list .nav-list-item:not(:last-child){
    margin-right: 30px;
}

.brand{
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.eye1{
    position: absolute;
    left: 24px;
    top: 47px;
}
.eye2{
    position: absolute;
    top: 47px;
    left: 40px;
}
.n{
    margin-right: 15px;
}
.btn-catalog{
    display: inline-block;
    background-color:#FFC85E;
    width: 150px;
    height: 50px;
    border-radius: 79px;
    color: white;
    margin-right: 15px;
}
.btn-search{
    border-radius: 36px;
    background-color: #EDEDED;
    color: #EDEDED;
    height: 50px;
    width: 220px;
}
.search-item{
    width: 40px;
    height: 40px;
    background-color: #FFC85E;
    border-radius: 1000px;
    border-color:#FFC85E;
    position: absolute;
    right: 557px;
    top: 23px;
}
.search-form{
    display: inline-block;
    position: relative;
}

.number{
font-size: 14px;
font-weight: 600;
color: #111111;
display: inline-block;
height: 21px;
width: 136px;
position: absolute;
bottom: 5px;
right: 3px;
}

.hours{
font-size: 12px;
font-weight: 300;
color: #3F4E65;
display: inline-block;
height: 18px;
width: 152px;
position: absolute;
bottom: -16px;
right: 0px;
}

.call{
font-size: 10px;
font-weight: 400;
color: #3F4E65;
display: inline-block;
height: 15px;
width: 81px;
position: absolute;
top: 6px;
right: -10px;
}

.contact-number{
    display: inline-block;
    position: relative;
    width: 155px;
    margin-right: 6px;
}

.green-dot{
    position: absolute;
    top: 30px;
    right: 305px;
}
.btn-price{
    display: inline-block;
    background-color:#FFC85E;
    width: 150px;
    height: 50px;
    border-radius: 79px;
    color: white;
    margin-right: 15px;
}
.basket{
    display: inline-block;
}
.basket-span{
    background-color: #FFC85E;
    color: #FFFFFF;
}
.basket-txt{
    display: inline-block;
    position: relative;
}
.basket-txt1{
font-size: 12px;
font-weight: 300;
color: #3F4E65;
position: absolute;
top: -20px;
}
.basket-txt2{
font-size: 14px;
font-weight: 600;
color: #111111;
position: absolute;
top: -4px;
width: 40px;
}


.mobile-header{
    display: none;
}


/*intro section starts*/

#intro{
    background-image: url("../images/image/background.jpg");
   /* background-size: 100%;
    background-repeat: no-repeat;*/
    width: 100%;
    height: 796px;
}


.intro-title{
    font-size: 65px;
    font-weight: 500;
    line-height: 77px;
    color: #FFFFFF;
    margin: 98px 0px 40px 0px;
}

.intro-title-2{
font-size: 30px;
font-weight: 700;
color: #FFFFFF;
margin-bottom: 60px;
}

.btn-catalog-2{
    background-color:#FFC85E;
    color: white;
    width: 300px;
    height: 95px;
    border-radius: 80px;
    padding: 10px 19px;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 91px;
}
.plus-1{
    display: inline-block;
}
.plus-2{
    display: inline-block;
}

.btn-plus-1, .btn-plus-2{
    background-color: #FFC85E;
    color: #FFFFFF;
    width: 39px;
    height: 39px;
    border-radius: 1000px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-right: 10px;
    display: inline-block;
}

.plus-1 p{
font-size: 14px;
font-weight: 400;
line-height: 21px;
color: #FFFFFF;
display: inline-block;
width: 166px;
height: 42px;
margin-right: 35px;
}

.plus-2 p{
    width: 178px;
    height: 42px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
}

.plus-2 p span{
    font-weight: 700;
}

#mobile-intro{
    display: none;
}

/*promotion section starts*/

.promotion-title{
    margin: 80px 0 50px 0px;
    font-size: 40px;
    font-weight: 800;
    color: #FFC85E;
}

.promotion-title span, .product-title span, .best-title span{
    font-weight: 500;
    color: #111111;
}

.item-1, .item-2, .item-3, .item-4{
    background-color: #FFFFFF;
    position: relative;
    height: 490px;
    box-shadow: 0px 14px 39px -11px #0000000F;
    margin-bottom: 20px;
}

.img-item-1{
    position: absolute;
    right: 78px;
    top: 10px;
}

.btn-item-1{
    width: 96px;
    height: 25px;
    color: #EDEDED;
    background-color: #1FD85D;
    border-radius: 5px;
    padding: 11px 26px;
    position: absolute;
    top: 15px;
    left: 15px
}

.btn-item-1 p{
    font-size: 10px;
    font-weight: 600;
    text-align: center;
    position: absolute;
    top: 4px;
    left: 12px;
}

.item-ml{
    font-size: 12px;
    font-weight: 400;
    color: #3F4E65;
    margin-left: 10px;

}

.item-ml p{
    display: inline-block;
}


.item1-img-btn{
    height: 220px;
}

.item-title{
font-size: 16px;
font-weight: 500;
color: #111111;
margin-left: 10px;
}

.item-title span{
font-weight: 800;
}

.code{
    line-height: 5px;
    margin-top: 20px;
}


.code p{
font-size: 14px;
font-weight: 300;
color: #3F4E65;
margin-left: 10px;
}

.code p span{
font-weight: 500;
color: #111111;
}

.item-basket{
margin-top: 50px;
margin-left: 10px;
}

.item-basket p{
    font-size: 16px;
    font-weight: 800;
    color: #111111;
    display: inline-block;
    margin-right: 10px;
}

.btn-item-basket{
    width: 153px;
    height: 45px;
    background-color: #FFC85E;
    color: #FFFFFF;
    border-radius: 80px;
    padding: 10px 19px;
    font-size: 10px;
    font-weight: 700;
}

.img-item-3{
    position: absolute;
    top: 20px;
    left: 30px;
}

.img-item-4{
    position: absolute;
    left: 45px;
    top: 20px;
}

/*product section*/


.product-title{
    margin: 80px 0 15px 0px;
    font-size: 40px;
    font-weight: 800;
    color: #FFC85E;
}

.product-title-2, .best-title-2{
    font-size: 20px;
    font-weight: 300;
    color: #3F4E65;
    margin-bottom: 50px;
}

.product-item, .product-item1{
    width: 200px;
    height: 200px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 14px 39px -11px #0000000F;

}

.product-item1{
    margin-right: 10px;
}

.product-item{
    margin-right: 5px;
}


.products{
    display: grid;
    grid-template-columns: repeat(5, 230px);

}

.product-item img{
    width: 200px;
    height: 200px;
}

 .product-info a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #111111;
    
}


.product-info{
    margin-top: 25px;
    height: 20px;
    width: 1140px;
    margin-bottom: 90px;
}

.product-info a:not(:last-child){
    margin-right: 90px;
}

/*carousel section*/


#carouselExampleCaptions{
    height: 500px;
    position: relative;
}

.carousel-caption{
    padding: 20px;
    width: 500px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.c-title1{
font-size: 14px;
font-weight: 500;
color: #FFFFFF;
margin-top: 50px;
}

.c-title2{
    font-size: 77px;
    font-weight: 500;
    color: #FFFFFF;
}

.c-title3{
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 30px;
}

.btn-carousel{
height: 90px;
width: 300px;
background-color: #FFC85E;
color: #FFFFFF;
border-radius: 79px;
padding: 10px 19px;
}

/*best-item section*/

.best-title{
    margin: 150px 0 15px 0px;
    font-size: 40px;
    font-weight: 800;
    color: #FFC85E;
}

.air-wick, .sibiar, .colgate{
    margin-right: 8px;
}

.fresh{
    margin-right: 13px;
}

.best-item{
    margin-bottom: 100px;
}

.best-item img{
    box-shadow: 0px 15px 70px -11px #2B1C010A;

}

/*map section*/

.map-img{
    background-image: url(../images/image/map.jpg);
    height: 500px;
    position: relative;
}

#map-section{
    margin-bottom: 100px;
}

.map-contact{
    position: absolute;
    top: 30px;
    left: 20px;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(30px);
    width: 700px;
    height: 400px;
    padding: 30px 30px;
}

.map-title{
    color: #3F4E65;
    font-size: 30px;
    font-weight: 500;
    margin: 10px;
}

.map-title2{
    color: #3F4E65;
    font-size: 15px;
    font-weight: 300;
    margin: 10px;
}

.map-address, .sales-department, .taxpay{
width: 250px;
height: 80px;
display: inline-block;
position: relative;
margin: 10px;

}

.m-a-icon, .taxpay-icon{
    display: inline-block;
    position: absolute;
    top: 40px;
}

.s-d-title, .m-a-title, .taxpay-title{
font-size: 14px;
font-weight: 700;
color: #111111;
position: absolute;
left: 25px;
}

.m-a-title1, .s-d-txt, .taxpay-txt{
    font-size: 12px;
    color: #3F4E65;
    font-weight: 400;
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 25px;
}

.m-a-title2, .s-d-txt2, .taxpay-txt2{
    font-size: 12px;
    color: #3F4E65;
    font-weight: 400;
    display: inline-block;
    position: absolute;
    left: 25px;
    top: 47px;
}

/*footer*/

footer{
    width: 100%;
    height: 400px;
    background-color: #3F4E65;
}


@media  screen and (max-width:576px) {

.desktop-header{
    display: none;
}

.mobile-header{
    display: block;
}

.mobile-menu{
display: flex;
justify-content: space-between;
padding: 10px;
position: relative;
}

.btn-mobile-menu{
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: #FFC85E;
    color: #EDEDED;
    border-radius: 1000px;
    margin-top: 10px;
}

.eye3{
    position: absolute;
    top: 43px;
    left: 92px;
}

.eye4{
    position: absolute;
    top: 43px;
    left: 107px;
}

.mobile-basket{
margin-top: 15px;
}

hr{
    margin: 0 0;
}

.mobile-catalog, .mobile-search{
    padding: 20px;
}

.mobile-search{
    margin-left: 25px;
}

.mobile-catalog a, .mobile-search a{
   color: #3F4E65;
   font-size: 15px;
   font-weight: 600;
   text-align: center;
   text-decoration: none;
}

.m-c-item{
    position: relative;
    display: inline-block;
    width: 30px;
}

.m-c-1{
    position: absolute;
    left: 20px;
    bottom: 8px;
}

.m-c-2{
    position: absolute;
    left: 20px;
    bottom: 0px;
}

.m-c-3{
    position: absolute;
    left: 10px;
    bottom: 8px;
}

.m-c-4{
    position: absolute;
    left: 10px;
    bottom: 0px;
}

.m-s-item{
    display: inline-block;
    margin-right: 5px;
    height: 12px;

}

#intro{
    display: none;
}

#mobile-intro{
    display: block;
    width: 100%;
    height: 210px;
    background-image: url(../images/image/background.jpg);
    background-size: cover;
}

.mobile-title{
    margin: 30px 15px 30px 15px;
    color: #FFFFFF;
    font-weight: 500;
    padding: 20px;
    display: inline-block;
    backdrop-filter: blur(5px);
}

.mobile-btn{
    margin-top: 30px;
    padding: 5px;
}

.btn-plus-1, .btn-plus-2{
    background-color: #FFC85E;
    color: #EDEDED;
    width: 15px;
    height: 15px;
    border-radius: 1000px;
}

.plus-1 p, .plus-2 p{
    color: #3F4E65;
    font-size: 10px;
    font-weight: 400;
}

}
    